/*-- Boîtes générales --*/
body {
	font-size: 12px;
	margin-bottom: 3em;	
	font-family: helvetica, arial;
}
div.boite {
	width: 75em;
	margin: auto;
}
div.sous-boite {
	float: left;
	width: 48em;
}
div#grosses-boites {
	float: left;
	width: 48.5em;
}
div.couleur {
	clear: left;
	padding: 1em 0 2.5em 0;
	background: url("fond.png") #302a2a no-repeat top left;
}
div#intro {
	float: left;
	width: 50.00em;
 	margin-right: 2em;
}
/*-------------------------*/



/*-------------------------*/

/*-- Thèmes --*/
ul.themes li {
	display: block;
	float: left;
	margin-bottom: 0.75em;
	margin-right: 0.75em;
}
ul.themes li a {
	display: block;
	width: 7em;
	border-bottom: none;
	padding: 0.75em 2em 0.58em 1.25em;
	font-family: helvetica, arial;
	line-height: 1.25em;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}
	ul.themes li:hover a {
		border-bottom: 0;
	}
ul.themes li a span.titre {
	font-weight: bold;
}
	div.boite div#themes-nav ul.themes li a.theme3.coinsronds span.titre,
	div.boite div#ref-themes ul.themes li a.theme3.coinsronds span.titre {
		width: 10px;
		margin-right: 20px;
	}
	div.boite form ul.themes li.theme3.coinsronds {
		padding-bottom: 23px;
	}

	
/*-- Thèmes pour l'Accueil --*/
div#grosses-boites div.coinsronds {
		float: left;
		width: 17.67em;
		height: 7.75em; 
		margin-bottom: 1.08em;
		padding: 1.17em 3.33em 0 2.67em;
		color: white;
		border-radius: 7px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
}
	div.theme1, div.theme3 {
		margin-right: 1.08em;
	}
	div#grosses-boites div a {
		color: white;
		font-size: 1.42em;
		font-family: helvetica, arial;
		font-weight: bold;
	}
	div#grosses-boites div p {
		margin-top: 0.42em;
		font-size: 1.12em;
		line-height: 1.29em;
		font-family: georgia, verdana, "times new roman";
	}
	
		/* Coins ronds */
		.coinsronds {
	    	position: relative;
		}
		div.c1, div.c2, div.c3, div.c4 {
			position: absolute;
			width: 10px;
			height: 10px;
			margin: 0;
			padding: 0;
		}
		div.c1 {
/*			background: url("coinBlanc1.png") no-repeat top left;*/
			top: 0;
			left: 0;
		}
		div.c2 {
/*			background: url("coinBlanc2.png") no-repeat top right;
*/			top: 0;
			right: 0;
		}
		div.c3 {
/*			background: url("coinBlanc3.png") no-repeat bottom right;
*/			bottom: 0;
			right: 0;
		}
		div.c4 {
/*			background: url("coinBlanc4.png") no-repeat bottom left;
*/			bottom: 0;
			left: 0;
		}
/*		div.couleur div.c1 { background-image: url("coinBrun1.png"); }
		div.couleur div.c2 { background-image: url("coinBrun2.png"); }
		div.couleur div.c3 { background-image: url("coinBrun3.png"); }
		div.couleur div.c4 { background-image: url("coinBrun4.png"); }
*/		
	/*-- Thèmes pour la page outils --*/
	div#page-theme ul.themes li a {
		width: 7.6em;
	}
	div#page-theme ul.themes {
		margin-top: 1.33em;
	}
	
	/*Thèmes pour pages autre que accueil et outils*/
	div#themes-nav {
		float: left;
		width: 22em;
	}
	div#themes-nav h3 {
		margin-top: 1em;
	}

	div.themes {
		float: left;
	}
	div.themes ul.themes li a {
		width: 7em;
	}			

	/*Thèmes pour contributions*/
	div.contribution div#div.themethemes {
		float: left;
		width: 23em;
		margin-left: 1em;
		margin-top: -2em;
	}
	div.contribution div#themes ul.themes li {
		float: left;
		display: block;
	}

/*-------------------------*/


/*-- Flèche --*/
ul#etapes {
	width: 580px;
/*	width: 48.6em; /* Explorer gentil */
	float: left;
	background-color: white;
	margin: 1.5em 0 0;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

div#big-bloc ul#etapes {
	width: 857px;
/*	width: 71.6em; Accueil */
}

ul#etapes li {
	float: left;
/*	width: 16.2em; Trois étapes */
	width: 145px; /* Quatre étapes */
}
	ul#etapes li#etape0 {
		border-top-left-radius: 7px;
		border-bottom-left-radius: 7px;
		-webkit-border-top-left-radius: 7px;
		-webkit-border-bottom-left-radius: 7px;
		-moz-border-top-left-radius: 7px;
		-moz-border-bottom-left-radius: 7px;
		}
	ul#etapes li#etape3 {
		border-top-right-radius: 7px;
		border-bottom-right-radius: 7px;
		-webkit-border-top-right-radius: 7px;
		-webkit-border-bottom-right-radius: 7px;
		-moz-border-top-right-radius: 7px;
		-moz-border-bottom-right-radius: 7px;
		}

div#big-bloc ul#etapes li { /* Accueil */
	width: 17.9em; /* Quatre étapes */
/*	width: 23.9em; Trois étapes */
}

ul#etapes div.digit {
	float: left;
	font-size: 2.8em;
	padding: 0.5em 0 0.8em 0em;
}

ul#etapes div.description {
	padding: 1em 0 0 3em;
}

ul#etapes a {
	text-decoration: none;
	font-size: 1.4em;
}

ul#etapes p {
	margin-top: 0.6em;
	font-family: georgia, verdana, "times new roman";
}

ul#etapes span, ul#etapes a {
	font-family: Helvetica;
	font-weight: bold;
}
ul#etapes li#etape1 div.digit,
ul#etapes li#etape2 div.digit,
ul#etapes li#etape3 div.digit {
	background: url("flecheBlanche.png") no-repeat center right;
}

ul#etapes li#etape1 span,
ul#etapes li#etape2 span,
ul#etapes li#etape3 span {
	position: relative;
	left: 0.8em;
}

ul#etapes li#etape1 div.description,
ul#etapes li#etape2 div.description,
ul#etapes li#etape3 div.description {
	padding-left: 4.5em;
}

ul#etapes li#etape0 div.digit {
	padding-left: 0.3em;
/*	background: url("coinBrun4.png") no-repeat bottom left;
*/}

ul#etapes li#etape0 div.description {
/*	background: url("coinBrun1.png") no-repeat top left;
*/}

ul#etapes li#etape3 div.description {
	padding-right: 1.2em;
/*	background: url("coinBrun2.png") no-repeat top right;
*/}

ul#etapes li#etape3 {
/*	background-image: url("coinBrun3.png");
*/	background-repeat: no-repeat;
	background-position: bottom right;
}

/*-------------------*/

/*-- Générique --*/
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
div.clear {
	clear: both;
}
	/*-- Liens --*/
	a {
		text-decoration: none;
	}

		/*-- Liens particuliers --*/
		div.couleur div.dynamique div.bloc-dyn a,
		div.couleur a {
			font-size: 1em;
		}
	/*-- Titre --*/
	div#big-bloc h3 {
		font-size: 1.17em;
		margin: 1.4em 0 0.65em;
		padding: 0;
	}


/*-- Haut de page --*/
	/*-- Logo --*/
	div#logo {
		margin: 1.33em 0 2.50em;
	}
	div#logo a {
		border-bottom: none;
	}
	div#logo img {
		width: 11.92em;
		height: auto;
		margin-bottom: 1em;
	}
	div#logo p {
		margin: -1.8em 0 0 6em;
		font-family: helvetica, arial;
		font-weight: bold;
		color: #233741;
	}
div#presentation {
 	width: 50em;
}
div#presentation h1 {
	padding-bottom: 0.63em;	
	font-family: helvetica, arial;
	font-weight: bold;
	font-size: 2em;
}
	/*-- Menu du haut --*/
	div#presentation ul.menu {
		width: 50em; /* Exlorer gentil */
	 	clear: left;
	}
	div#presentation li {
		float: left; /* explorer-gentil */
	}
	div#presentation li a {
	 	display: block;
		margin-right: 1.67em;
		margin-bottom: 1.08em;
		font-family: helvetica, arial;
		font-weight: bold;
	}
		div#presentation li a.actif  {
			border-bottom: none;
		}
/*-------------------------*/
		

/*-- Pages de contenu --*/
div.sous-boite p {
	margin-bottom: 1em;
}
div#presentation p {
	font-size: 1.92em;
	width: 25.42em;
	line-height: 1.26em;
	font-family: georgia, verdana, "times new roman";
	margin-bottom: 0.65em;
}

/*-------------------------*/

				
/*Boîte d'intro pour les pages autres que Accueil*/

div#intro div.details {
	margin-bottom: 0.5em;
}
div#intro div.details p {
	font-size: 0.96em;
	font-family: Helvetica, Arial;
}
div#intro h3 {
	margin-top: 1em;
}
div.couleur h3, div#titre h3 {
 	padding-bottom: 0.57em;
	font-family: helvetica, arial;
	font-weight: bold;
	font-size: 1.08em;
}

div.couleur h2 {
	margin-bottom: 0.66em;
 	font-family: georgia, verdana, "times new roman";
	font-size: 1.92em;
	line-height: 1.22em;
	color: white;
}
div#intro p,
div.couleur div.boite dl.contributions dt {
 	font-family: georgia, verdana, "times new roman";
	font-size: 1.17em;
	line-height: 1.36em;
}

	/*Vidéo*/
	div#intro div.description {
		float: left;
 		width: 28em;
	}
	div#presentation p, div#presentation h1 {
 		float: left;
 	} 
	
		/*Accueil*/
		div.video {
	 		float: left;
			margin: -3.45em 2.33em 0;
			width: 237px;
			height: 203px;
		}
		/*Thèmes*/
		div.themes div.video {
			float: right;
			margin: 0 0 0 1.5em;
			width: 237px;
		}
	


	/*Bande titre*/
	div#titre {
			clear: left;
 			background-color: #dbdcdd;
			padding: 3.00em 0 1.17em;
			margin-bottom: 1em;
	}
	div#titre h2 {
		font-family: helvetica, arial;
 		font-size: 2em;
		font-weight: bold;
	}

		
	/*Navigation*/
	div.navigation h3 {
		margin: 1em 0 0.67em;
 		font-family: georgia, verdana, "times new roman";
		font-size: 1.50em;
;
	}
	div.navigation p, div.navigation li, div#telechargement {
 		font-family: helvetica, arial;
 		line-height: 1.42em;
	}
	div.navigation p.auteur {
		margin: 0 0 2em;
	}

	div.navigation dl {
 		width: 48.5em;
		padding-top: 1em;
 	}
	div.bloc-eche h2,
	div.navigation dt {
 		font-family: helvetica, arial;
 		font-size: 1.08em;
		font-weight: bold;
	}

	div.navigation dd {
 		margin-bottom: 0.6em;
		line-height: 1.25em;
	}

	div#ref-themes, div#ressources, div#telechargement, div#commentaires, div#autresContributions {
 		float: left;
 		width: 23.5em;
		padding-right: 1.5em ;
	}

		div#ref-themes ul.themes {
			margin-top: 1em;
		}
			
		/*Ressources*/ 
		div#ressources p {
			margin-bottom: 1em;
 		}
		div#ressources ul {
 			list-style: disc;
 			padding-left: 1.3em;
		}
		div#ressources p#adresse {
 			margin-top: 1em;
 		}

		/*Téléchargement*/
		div#telechargement img, div.dynamique img {
			float: left;
 			width: 2em;
			padding-right: 1em;
		}
		div#telechargement a {
 			font-family: helvetica, arial;
			font-weight: bold;
		}
		div.downl {
			margin-top: 1.5em;
		}
		
		/* L'enjeu */
		div.dynamique,
		div#citations {
			float: left;
			padding: 1em 0 0 2em;
		}

		div#citations {
			width: 23em;
		}
			div#citations p {
				margin-top: 1em;
				font-weight: bold;
			}
			div#citations p.lien {
				font-weight: normal;
			}
		
		/*Liste pour les thèmes*/
		div.sous-boite ol {
			float: left;
 			width: 30.33em;
			list-style: decimal;
			margin: 1em 0 0 1.67em;
		}
		div.sous-boite ol li {
 			font-family: georgia, verdana, "times new roman";
 			font-size: 1.25em;
		}
		div.sous-boite ol ul {
 			list-style: disc;
 			margin-left: 1.67em;
		}
		div.sous-boite ol ul li {
 			font-family: helvetica, arial;
 			font-size: 0.87em;
		}
		div.sous-boite ol ul li ul li {
 			font-family: georgia, verdana, "times new roman";
 			font-weight: normal;
		}
		
			/*Lexique*/
			div.questions {
				width: 425px;
				float: left;
			}
			span.definir {
				border-bottom: 1px dotted #76858d;
				cursor: pointer;
				cursor: hand;
 			}

			div#lexique {
				margin-left: 0.92em;
 				float: left;
			}
			div#lexique p {
 				width: 16em;
				background-image: url("arrow.png");
				background-repeat: no-repeat;
				background-position: top left;
				margin-left: 1.1em;
				padding: 0.7em 1em 0.7em 2em;
				background-color: #dbdcdd;
				font-size: 0.83em;				
			}

			
		/*Section dynamique*/
		div.dynamique {
			width: 17em;
 			margin-left: 1.75em;
		}
			div#citations h2,
			div.dynamique h2 {
			font-size: 1.50em;
			font-family: georgia, verdana, "times new roman";
		}
		div.dynamique a.more {
			font-size: 1em;
		}
		div.dynamique dl#biblio {
 			margin: 2em 0;
 		}
		div.dynamique dl {
			width: 22.5em;
			font-family: helvetica, arial;
		}
		div.dynamique dl dt {
			margin-bottom: 0.3em;
		}

			/*Thèmes*/
/*			div.dynamique.themes a {
				font-size: 1em;
				color: #749D19;
				border-bottom: 1px solid #7fb9d7;
			}*/

			dl#biblio {
				margin-bottom: 2em;
			} 
			div.bloc-dyn {
				margin: 1em 0 2em;
			}
			div.bloc-dyn h2 {
			}
			div.bloc-dyn a.more {
				font-size: 1em;
				clear: left;
				display: block; /* Explorer-gentil */
				width: 14.5em; /* Explorer-gentil */
				margin-top: 1em; /* Explorer-gentil */
			}
			div.dynamique div.bloc-dyn a {
				font-size: 1em;
				line-height: 1.4em;
			}


/*			div.dynamique a {
				font-family: helvetica, arial;
				font-weight: bold; 
				line-height: 1.5em;  (Explorer-gentil)
				border-bottom: 1px solid #94a451;
				color: #749D19;
			}

			/*Accueil*/
			div#big-bloc {
				float: left;
			}
			div.dynamique.accueil a {
				font-size: 0.75em;
				font-family: helvetica, arial;
				font-weight: bold; 
				line-height: 1.5em; /* Explorer-gentil */
			}

				/*Dynamique à l'Accueil*/
				}
				div.bloc-dyn.fleches {
					padding-bottom: 1em;
					background: url("fleches.png") no-repeat bottom left;
				}

				div#big-bloc div.dynamique {
					padding-top: 0;
				}
				div#big-bloc div.dynamique div.bloc-dyn {
					margin-top: 0;
				}
			/*Accueil version perspectives */
			div.colonne {
				padding: 0 0.5em;
				width: 23em;
				float: left;
			}
			div.colonne li a {
				line-height: 2em;
			}
			div.colonne dt a {
				line-height: 1.5em;
			}

/*Contributions*/
div#contributions {
	float: left;
	width: 48em;
}
div#titre dl.contributions dt {
	font-size: 1.5em;
	color: white;
	width: 21em;
}
div.couleur h2.contributions {
	margin-bottom: 0.5em;
}
div.sous-boite,
div#contributions {
	float: left;
	margin: 1em 1.5em 0 0;
	width: 48.5em;
}
div#contributions p {
	margin-bottom: 1em;
}

dl.contributions dt {
	float: left;
	width: 3em;
}

dl.contributions dd {
	margin-left: 4em;
}

dl.contributions p.titre {
	margin-bottom: 0;
	font-weight: bold;
}

dl.contributions p.auteur {
	font-size: 0.95em;
	margin-bottom: 1em;
	line-height: 1.8em;
}

div#commentaires li {
	margin-bottom:1em;
}
div#commentaires a {
	font-weight: bold;
}
div#commentaires p.auteur {
	font-size: 0.95em;
	margin-bottom: 1em;
}
div#commentaires ul li p,
div#autresContributions dt {
	margin-bottom: 0.3em;
}
div#autresContributions dl {
	width: 23em;
	line-height: 1.42em;
}
div#autresContributions p {
	margin-bottom: 1em;
}

/* Démarche */
div.bloc-eche ol {
	margin-left: 1.5em;
	list-style: decimal;
	
}
div.bloc-eche ul {
	list-style: disc;
	margin: 0 0 1em 3em;
}
div.bloc-eche p.preambule {
	margin-bottom: 0.5em;
}

/* Participer */
dl.participer {
	line-height: 1.5em;
}

	/* Formulaires */
	div.navigation form {
		width: 700px;
	}
	div.navigation h4 {
		clear: left;
		font-family: georgia, verdana, "times new roman";
		font-size: 1.25em;
		padding-top: 1.8em;
	}
	div.navigation form p {
		font-family: georgia, verdana, "times new roman";
		margin-top: 0.42em;
	}
	
		/*Cercle citoyen */
		table th,
		ul.contribution label,
		div.titre label {
			font-weight: bold;
		}
		table.cercle {
			margin-bottom: 1em;
		}
		table th,
		table td {
			padding: 0.5em 1.5em 1em 0 ;
			margin-bottom: 3.5em;
		}
		table td {
			border-bottom: 1px solid #dbdcdd;
		}
			table tr.dernier td {
				border-bottom: 0;
			}
			form td div {
				float: left;
			}
			form td div img {
				float: left;
				padding-top: 0.4em;
			}
					
		table th {
			padding: 1.5em 0 0.2em 0;
		}
		
		table .missing {
			color: #D03723;
		}
			/*Bouton pour ajouter une personne*/
			form p.more {
				margin: 1em 0 ;
			}
			form p.more a {
				padding: 0.92em 1.92em 0.75em 0.92em;
				border-bottom: none;
				background-color: #e6e6e7;
				font-family: helvetica, arial;
				font-weight: bold;
			}
			form p.more a img {
				padding-right: 0.75em;
			}

		/* Thèmes */
		form ul.themes {
			width: 28em;
		}
		form ul.themes li {
			float: left;
			width: 8em;
			padding: 0.75em 1.5em 0.5em 1.25em;
			margin: 0.75em 0.75em 0 0;
			color: white;
			font-weight: bold;
		}
		form ul.themes input {
		}
	
	/* Contribution */
	ul.contribution {
		margin-top: 1em;
	}
	ul.contribution li {
		width: 27.50em;
		display: block;
		float: left;
	}
	ul.contribution li input {
		float: left;
	}	
	ul.contribution li label {
		margin-left: 0.67em;
	}
	ul.contribution li p {
		margin: 0 0 0 2.5em;
		font-weight: normal;
		font-family: georgia, "times new roman";
	}
	ul.contribution li select {
		margin: 0.5em 0 2em 2.5em;
	}
	div#perspectives p.perspec {
		padding-top: 1em;
		font-family: helvetica, arial;
		font-weight: bold;
	}
	div.titre label {
		clear: both;
		display: block;
		padding-bottom: 0.5em;
		margin-top: 1.5em; /* Pour le formulaire perspectives */
		
	}
	div.titre input {
		margin-bottom: 1em;
	}
	textarea {
		width: 54em;
		font-family: inherit;
		font-size: inherit;
	}
	/* Bouton envoyer */
	form input.submit {
		font-size: inherit;
		float: left;
		background-color: #e6e6e7;
		margin-top: 1em;
		padding: 0.92em 1.33em 1.08em;
		border: none;
		font-family: helvetica, arial;
		font-weight: bold;
	}
	
/* Calendrier */

div.calendrier h2 {
	margin-top: 1em;
}

div.calendrier dt {
	font-size: 1.25em;
}
div.calendrier dl dt{
	border-top: 1px solid #ddd;
	padding-top: 0.75em;
}
div.calendrier dl dd {
	font-size: 1.25em;
}
div.calendrier dl dd span {
	font-size: 0.85em;
}
 	/* Événements passés */
	div.calendrier dl dt span {
		font-size: 0.6em;	
		display: none;
	}
	div.calendrier dl dt span.done {
		display: inline;
	}
	
/*	div#lexique {
		width: 5em;
		float: left;
	}
	
*/

/* Perspectives */
ul.perspectives li {
	margin-top: 1em;
	font-size: 1.15em;
	font-weight: bold;
}
ul.perspectives ol {
	float: none;
	list-style-type: lower-roman;
}
	ul.perspectives ol li ol {
		list-style-type: lower-alpha;
	}
	ul.perspectives ol li ul li {
		font-size: 1em;
	}
	ul.perspectives ul,
	ul.perspectives ol {
		width: 42em;
	}
ul.perpectives ol li,
ul.perspectives ul li  {
	margin-top: 0em;
	font-weight: normal;
}
	ul.perspectives ul li {
		font-size: 0.85em;
	}
	ul.perspectives ol li {
		font-size: 1em;
		padding-left: 0.5em;
		margin-left: 0.5em;
	}
ul.perspectives li.entete {
	
}
ul.perspectives a.top {
	font-size: 10px;
	float: right;
	margin-bottom: 12px;
	line-height: 1.3em;
	padding-right: 12px;
	font-weight: normal;
	background: url("arrowUp.png") no-repeat top right;
}

	/* numéro à côté de texte */
	ul.perspectives li, 
	ul.perspectives li div.texte,
	ul.perspectives li div.numero  {
		float: left;
		clear: right;
	}
	ul.perspectives li ul li,
	ul.perspectives li div.texte {
		float: none;
	}
	ul.perspectives div.texte {
		padding-left: 53px;
	}
	ul.perspectives div.texte a {
		font-size: 10px;
		line-height: 3.75em;
	}
	
/* Table des matières perspectives */
ul.tdm {
	font-size: 0.95em;
	margin-bottom: 3em;
}
ul.tdm li {
	line-height: 1.6em;
}
ul.tdm li span {
	float: left;
}
ul.tdm li div {
	padding-left: 2.2em;
}
ul.tdm li.header {
	font-weight: bold;
	margin-top: 13px;
	font-size: 1.1em;
}

/* Sous-titre */
ul.perspectives li.entete {
	margin: 1.2em 0 0 53px;
	font-size: 1em;
}
/* Titre partie */
ul.perspectives li.section.entete {
	margin-left: 0;
	font-size: 1.2em;
	font-weight: bold;
}

p.errorMissing {
	width: 47.5em;
	padding: 0.5em 1em;
}

span.highlight {
	padding: 0.3em 0.1em;
}

p.errorMissing,
span.highlight,
.missing input {
	background-color: #FFF2B9;
	
}

/* Perspectives sur le formulaire */
ul.perspectives-formulaire {
	margin-top: 12px;
}
ul.perspectives-formulaire li {
	display: none;
	background-color: #f6f6f6;
	padding: 6px 12px 9px;
}
ul.perspectives-formulaire div.numero {
	float: left;
	font-weight: bold;
	padding-top: 0.42em;
}
ul.perspectives-formulaire div.texte {
	padding-left: 40px;
}
ul.perspectives-formulaire div.texte strong {
	font-weight: normal;
}