body {
	margin: 20px;
	font-family: "lucida grande", verdana, arial;
	font-size: 11px;
	line-height: 15px;
	background-color: white;
	color: black;
}

h1 {
	font-weight: bold;
	font-size: 19px;
	margin-bottom: 20px;
}

table {
	width: 100%;
}

th {
	font-weight: bold;
	vertical-align: bottom;
}

td {
	vertical-align: top;
	max-width: 25em;
}

tr th, tr td {
	border-bottom: 1px solid #ddd;
	padding: 6px 18px 6px 0;
}

p {
	margin-bottom: 8px;
}

td ul {
	list-style: disc;
	margin-left: 20px;
}

a {
	color: black;
	text-decoration: none;
}

/* Hide stuff for the print version
   --------------------------------------------------
*/

div#header, ul#menu, ul.actions, ul.navigation {
	display: none;
}

/* Forms
   --------------------------------------------------
*/

form > div {
	padding: 5px 0;
	border-bottom: 1px solid #ddd;
	clear: both;
}

form label {
	display: block;
	font-weight: bold;	
	float: left;
	width: 160px;
	margin-right: 30px;
	height: 20px;
	overflow: hidden;
}

form div div {
	padding-left: 190px;
}

form div div p {
	margin-bottom: 3px;
	color: #999;
}

form div div p img {
	position: relative;
	top: 2px;
	margin-right: 3px;
}

form textarea {
	width: 376px;
}

form fieldset {
	padding: 0;
	border: 0;
}

span.fileDeleteCheckbox {
	float: right;
	display: none;
}

div#body form a.thumbnail {
	display: block;
	border: 0;
	margin-bottom: 8px;
}

a.thumbnail img {
	display: block;
}

form input, form select {
	background-color: white;
	margin: 0;
	padding: 0;
	border: 0;
}

form input {
	width: 100%;
}

input.submit {
	display: none;
}

/* Item actions
   --------------------------------------------------
*/

ul.navigation {
	clear: both;
	float: left;
	margin: 0 0 18px -9px;
}

ul.navigation li {
	float: left;
	border-left: 1px solid #eee;
}

ul.navigation li:first-child {
	border-left: 0;
}

ul.navigation a {
	color: #999;
	padding: 4px 9px;
	display: block;
}

ul.navigation a:hover {
	background-color: #333;
	color: white;
}
