body {
	font-size: 11px;
	line-height: 20px;
	color: #282828;
	background-color: white;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}

input, select, option, textarea {
	font-family: inherit;
	font-size: 11px;
}

textarea {
	line-height: 16px;
}

div.clear {
	clear: both;
	height: 0;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #d10;
}

strong {
	font-weight: bold;
}

h2 {
	font-weight: bold;
	margin-bottom: 10px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1em 0;
	padding: 0;
}

code {
	display: block;
	background-color: #e9eae1;
	padding: 8px 16px;
	margin: 10px 0;
}

div.confirm, div.warning, p.message, p.error, p.errorMissing, p.errorInvalid, p.errorFileUpload {
	clear: both;
	padding: 8px 12px;
	background-color: #e9eae1;
	margin-bottom: 18px;
	float: left;
	font-size: 13px;
}

div.warning {
	float: right;
	padding: 0 12px;
	margin: 0;
	position: relative;
	top: -24px;
}

p.disabled {
	color: #d6d6d6;
	font-size: 13px;
	padding: 5px 0;
	margin: 0 0 20px;
	font-weight: bold;
}

p.notice {
	clear: both;
	color: #999;
}

div.confirm form {
	margin: 8px 0 5px;
	float: right;
}

div.confirm input.submit {
	margin: 0 0 0 10px;
	float: left;
	font-size: 11px;
	font-weight: bold;
}

/* Header
   --------------------------------------------------
*/

h1 {
	color: #E2E4DB;
	background-color: #282828;
	font-size: 15px;
	font-weight: bold;
	padding: 15px 0 15px 20px;
	margin-bottom: 27px;
}

/* Warning
   --------------------------------------------------
*/


/* Top links
   --------------------------------------------------
*/

ul#toplinks {
	position: absolute;
	top: 10px;
	right: 20px;
}

ul#toplinks li:first-child {
	border: 0;
}

ul#toplinks li {
	float: left;
	margin-left: 12px;
	border-left: 1px solid #444;
	padding: 6px 0 6px 12px;
}

ul#toplinks a {
	border: 0;
	font-weight: bold;
	color: #d4d6cd;
}

ul#toplinks a:hover {
	color: #d10;
}

/* Menu
   --------------------------------------------------
*/

ul#menu {
	position: absolute;
	left: 20px;
	width: 160px;
}

ul#menu a {
	font-size: 15px;
	color: #a9aba0;
	display: block;
	padding: 4px 10px;
	margin-left: -10px;
}

ul#menu a:hover, ul#menu li.current a:hover {
	background-color: #282828;
	color: white;
}

ul#menu li.current a {
	color: white;
	margin-right: -9px;
	background: #a9aba0 url("arrowMask.png") no-repeat center right;
}

/* Body
   --------------------------------------------------
*/

div#body {
	float: left;
	padding: 0 20px 60px 210px;
}

div#body form a {
	font-weight: bold;
	border-bottom: 1px solid #d6d6d6;
}

p.addItem {
	font-size: 125%;
}

input.submit {
	font-size: 13px;
	font-weight: bold;
	padding: 4px 12px;
	border: none;
	color: white;
	background-color: #282828;
	display: block;
	cursor: pointer;
}

input.submit:hover {
	background-color: #d10;
}

a.button {
	color: #d10;
	font-size: 13px;
	padding: 5px 10px;
	margin: 0 0 20px -10px;
	font-weight: bold;
	clear: both;
	float: left;
}

a.button:hover {
	background-color: #d10;
	color: white;
}

a.action {
	clear: both;
	float: right;
	color: white;
	background-color: #282828;
	padding: 3px 8px;
	margin-bottom: 8px;
}

a.action:hover {
	background-color: #d10;
}

/* Item actions
   --------------------------------------------------
*/

ul.navigation {
	clear: both;
	float: left;
	margin: 0 0 18px -9px;
}

ul.actions {
	float: right;
	margin: 0 -12px 24px 0;
	text-align: right;
}

ul.actions li, ul.navigation li {
	float: left;
	border-left: 1px solid #e9eae1;
}

ul.actions li:first-child, ul.navigation li:first-child {
	border-left: 0;
}

ul.actions a {
	font-weight: bold;
	color: #282828;
	padding: 4px 12px;
	display: block;
}

ul.navigation a {
	color: #999;
	padding: 4px 9px;
	display: block;
}

ul.actions a:hover {
	background-color: #d10;
	color: white;
}

ul.navigation a:hover {
	background-color: #282828;
	color: white;
}

/* Versions list
   --------------------------------------------------
*/

ul.versions {
	clear: both;
	width: 380px;
}

ul.versions li {
	list-style: none;
}

ul.versions li a {
	display: block;
	padding: 3px 0px;
	border-bottom: 1px solid #e9eae1;
}

ul.versions li a:hover {
	background-color: #282828;
	color: white;
	padding: 3px 10px;
	margin: 0 -10px;
}

/* Image lists
   --------------------------------------------------
*/

ul.images, ul.images li {
	float: left;
}

ul.images a {
	float: left;
	margin: 0 10px 10px 0;
	color: #e9eae1;
	border: 1px solid;
}

ul.images a:hover {
	color: #d10;
	border-width: 4px;
	margin: -3px 7px 7px -3px;
}

ul.images img {
	display: block;
	width: 100px;
	height: 100px;
}

/* Tables
   --------------------------------------------------
*/

div.hiddenAction {
	float: right;
	clear: both;
	margin-right: 10px;
}

div.hiddenAction span {
	color: #999;
	border-bottom: 1px solid #e9eae1;
}

table.items {
	clear: both;
	border-spacing: 0;
	margin-left: -10px;
}

table.items th, table.items td {
	padding: 3px 10px 3px 10px;
	color: #666;
}

table.items th a {
	color: #a9aba0;
	padding: 3px 12px 3px 0;
}

table.items th a.sort {
	background: url("sortUp.png") no-repeat center right;
}

table.items th a.sort.up {
	background: url("sortDown.png") no-repeat center right;
}

table.items th.hover {
	background-color: #e9eae1;
	cursor: hand;
	cursor: pointer;
}

table.items td {
	border-top: 1px solid #e9eae1;
}

table.items td a {
	font-weight: bold;
}

table.items td.delete {
	background-color: white;
}

table.items td.delete a {
	padding: 4px 0;
	color: #cdcfc3;
}

table.items td.delete a:hover {
	color: #d10;
}

table.items tr.hover {
	background-color: #282828;
	cursor: hand;
	cursor: pointer;
}

table.items tr.dragging, table.items tr.dragging td.draggable {
	background-color: #e9eae1;
}


table.items td.draggable, table.items tr.hover td.draggable {
	background-color: white;
	color: #cdcfc3;
}

table.items td.draggable:hover {
	color: #666;
}

table.items tr.hover * {
	color: white;
}

table.items th.draggable {
	padding: 0 4px;
}

table.items td.draggable {
	cursor: move;
}

input.search {
	margin: 10px 0;
	float: left;
	clear: both;
}

/* Translation
   --------------------------------------------------
*/

dl#translate_original {
	width: 540px;
	background-color: #e9eae1;
	padding: 10px 15px;
	margin-bottom: 10px;
}

dl#translate_original dt {
	font-weight: normal;
	color: #a9aba0;
	float: left;
	width: 145px;
	margin-right: 30px;
	height: 20px;
	overflow: hidden;
}

dl#translate_original dd {
	margin: 0;
	color: #666;
	padding-left: 175px;
}

/* Forms
   --------------------------------------------------
*/

form {
	clear: both;
}

div.actions {
	width: 570px;
	margin-bottom: 16px;
	text-align: right;
}

form > div {
	padding: 5px 0;
	border-bottom: 1px solid #e9eae1;
	clear: both;
}

form div.missing {
	color: #d10;
}

form div.invalid {
	color: #f05123;
}

form div.note {
	margin: 2px 0 0 0;
	line-height: 17px;
	color: #999;
}

form label {
	display: block;
	font-weight: bold;	
	float: left;
	width: 160px;
	margin-right: 30px;
	height: 20px;
	overflow: hidden;
}

form div div {
	padding-left: 190px;
}

form div div p {
	margin-bottom: 3px;
	color: #999;
}

form div div p img {
	position: relative;
	top: 2px;
	margin-right: 3px;
}

form textarea {
	width: 460px;
}

form input.submit {
	height: 28px;
	margin: 8px 0 0 190px;
}

form fieldset {
	padding: 0;
	border: 0;
}

form span.disabled {
	color: #cdcfc3;
}

span.fileDeleteCheckbox {
	float: right;
}

div#body form a.thumbnail {
	display: block;
	border: 0;
	margin-bottom: 8px;
}

a.thumbnail img {
	display: block;
}

/* Menu module */

ul.menu ul {
	margin-left: 20px;
}